@model FPTManagerSutdent.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h2>Thông tin sinh viên</h2>
<hr/>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên
            </th>
            <th>
                Email
            </th>
            <th>
                Lớp
            </th>
            <th>
                Số Điện Thoại
            </th>
            <th>
                Ngày Sinh
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
            <td>
                @foreach (var scr in Model.StudentClassRooms)
                {
                    <p>@scr.ClassRoom.Name</p>
                }
            </td>
            <td>
                @Html.DisplayFor(model => model.Phone)
            </td>
            <td>
                @Html.DisplayFor(model => model.DoB)
            </td>
        </tr>
    </tbody>
</table>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
