@model IEnumerable<FPTManagerSutdent.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách sinh viên</h2>
<div class="create" style="text-align: right">
    <p>
        <a asp-action="Create"><span class="glyphicon glyphicon-plus"></span> Thêm mới</a>
    </p>
</div>
<form asp-controller="Students" asp-action="Index">
    <p>
        <input type="text" placeholder=" Nhập tên, email ..." name="SearchString">
        <input type="submit" value="Tìm Kiếm" />
    </p>
</form>


<table id="tablepaging" class="table yui">
    <thead>
        <tr>
            <th>
                Tên sinh viên
            </th>
            <th>
                Email
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Thao Tác
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoB)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="pageNavPosition" style="padding-top: 20px" align="right">
</div>
<script type="text/javascript">
    var pager = new Pager('tablepaging', 10);
    pager.init();
    pager.showPageNav('pager', 'pageNavPosition');
    pager.showPage(1);
</script>