@model IEnumerable<FPTManagerSutdent.Models.Student>

@{
    ViewData["Title"] = "Index";
}
<h2>Danh sách sinh viên</h2>
<div class="create" style="text-align: right">
    <p>
        <a asp-action="Create"><span class="glyphicon glyphicon-plus"></span> Thêm mới</a>
    </p>
</div>

<<<<<<< HEAD
<form asp-controller="Students" asp-action="Index">
    <p>
        <input type="text" name="SearchString">
        <input type="submit" value="Search" />
    </p>
</form>
=======
<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
>>>>>>> 2119772374270782c989ee94223e181fad2baf71
<table class="table">
    <thead>
        <tr>
            <th>
                Tên sinh viên
            </th>
            <th>
                Email
            </th>
            <th>
<<<<<<< HEAD
                Giới tính
=======
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
>>>>>>> 2119772374270782c989ee94223e181fad2baf71
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
