@model IEnumerable<FPTManagerSutdent.Models.ClassRoom>

@{
    ViewData["Title"] = "Index";
}
<hr />
<h2>Danh sách các lớp học </h2>

<div class="create" style="text-align: right">
    <p>
        <a asp-action="Create"><span class="glyphicon glyphicon-plus"></span> Thêm mới</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên lớp
            </th>
            <th>
                Môn Học
            </th>
            <th>
                Ngày lớp hoạt động
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="Students/Index"> @Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @foreach (var cr in item.ClassRoomCourses)
                    {
                        <p>@cr.Course.Name </p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
