@model IEnumerable<FPTManagerSutdent.Models.ClassRoom>

@{
    ViewData["Title"] = "Index";
}

<div class="row m-t-30">
    <div class="col-md-12">
        <div>
            Danh sách lớp
            <div class="create pull-right" style="text-align: right">
                <p>
                    <a asp-action="Create"><span class="glyphicon glyphicon-plus"></span> Thêm mới</a>
                </p>
            </div>
        </div>
        <div class="table-responsive table-responsive-data2">
            <table id="tablepaging" class="table table-data2">
                <thead>
                    <tr>
                        <th>Tên sinh lớp</th>
                        <th>Môn học</th>
                        <th>Ngày lớp hoạt động</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="tr-shadow">
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>
                                @foreach (var cr in item.ClassRoomCourses)
                                {
                                    <p>@cr.Course.Name </p>
                                }
                            </td>
                            <td class="desc">@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                            <td>
                                <div class="table-data-feature">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="item" data-original-title="Edit">
                                        <i class="zmdi zmdi-edit"></i>
                                    </a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="item" data-original-title="More">
                                        <i class="zmdi zmdi-more"></i>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="item" data-original-title="Delete">
                                        <i class="zmdi zmdi-delete"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    }
                </tbody>
            </table>
            <div id="pageNavPosition" style="padding-top: 20px" align="right">
            </div>
            <script type="text/javascript">
                var pager = new Pager('tablepaging', 5);
                pager.init();
                pager.showPageNav('pager', 'pageNavPosition');
                pager.showPage(1);
            </script>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>


